.divListaPrecios{
	display:flex;
	justify-content:space-evenly;
}

.cuadroListaPrecio {
	border: black 1px solid;
	padding:20px;
	 list-style:none;
}

.itemListaPrecio{
	padding: 10px;
}

.divResultados {
	display:flex;
	justify-content:space-evenly;
}

.divCarrito {
	border: black 1px solid;
	width:25%;
	border-radius:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.divBotones {
	border: black 1px solid;
	padding:20px;
	width:25%;
	border-radius:20px;
	height:75px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items: center;
}

.divPrecioFinal {
	border: black 1px solid;
	width:25%;
	border-radius:20px;
	height:100px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.listaCarrito {
	list-style: none;
}
